body, * {
    font-family: Shabnam;
}

body {
    margin: 0;
}

/* Bootstrap customization start */
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 300;
    font-size: 15px;
}
/* Bootstrap customization end */

header {
    padding: 35px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .search-bar {
    width: 100%;
    margin-right: 20px;
    position: relative;
}

.header-right .search-bar input {
    border: none;
    padding: 10px 18px;
    background: rgb(248 249 250);
}

.header-right .search-bar input::placeholder {
    font-weight: 200;
    font-size: 15px;
    color: rgb(187, 187, 187);
}

.header-right .search-bar input:focus {
    border-color: #a2a2a2;
    box-shadow: 0 0 0 0.25rem rgb(175 175 175 / 25%);
    background-color: #fff;
}

.header-right .search-bar::after {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    position: absolute;
    left: 18px;
    top: 8px;
    font-size: 20px;
    color: rgb(187, 187, 187);
}


.btn-upgrade {
    border: none;
    padding: 8px 18px;
    border-radius: 100px;
    background: #FFD96E;
    color: #533200;
    font-size: 15px;
}

.btn-upgrade i {
    font-size: 12px;
}