body,* {
    font-family: Shabnam;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.back-footage {
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.back-overlay {
    position: fixed;
    /* width: 100vw;
    height: 100vh; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    width: 275px;
    padding: 50px;
    background: #fff;
    color: #3F3F3F;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 25px 0px rgb(0 0 0 / 20%);
}

.card > .header {
    text-align: center;
}

.card > .header h1 {
    margin-top: 0;
}

.card > .content p {
    font-size: 15px;
    font-weight: 300;
}

.card input {
    border: 0;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 15px;
    display: block;
    padding: 15px 0;
    width: 100%;
}

.card input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.card input::placeholder {
    font-size: 15px;
}

.card input:focus::placeholder {
    color: #000;
}

.card button {
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
    background: #c7a480;
    border: none;
    color: #fff;
    margin: 20px 0;
}

.card small.form-error {
    color: red;
    position: relative;
    top: -10px;
}

.card > .footer {
    text-align: center;
}

.card > .footer p {
    margin: 0;
}

.card > .footer a {
    text-decoration: none;
    /* color: #c7a480!important; */
}